<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/head" %>
  </head>

  <body class="min-h-screen flex flex-col overflow-x-clip" data-controller="animation dialog">
    <%= render "layouts/preview_banner", environment: preview_environment if preview_environment %>
    <%= render Site::NavbarComponent.new %>
    <%= render Site::MembershipDialogComponent.new %>

    <main class="flex-1">
      <%= render Site::FlashComponent.new(flash: flash) %>
      <%= yield %>
    </main>

    <%= render Site::FooterComponent.new %>
  </body>
</html>
